@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 26%;
    border: 4px solid red;
    border-radius: 40px;
    margin: 5px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: wheat;
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
}

.nav-list li a:hover{
   color:yellowgreen
}

.rightNav{
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/demonslayer2.jpg');
    background-size: cover;
    /* background-blend-mode: darken; */
}

.background-nav{
    background: rgba(56, 38, 160, 0.7) ;
    background-size: cover;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}


.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf{
    width:30%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
    margin:325px;
}

.text-big{
     font-size: 41px;
}

.text-small{
     font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background:none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}
.btn-dark{
    color: black;
    border: 2px solid grey;
    /* margin-top: 32px; */
}


.section{
    display: flex;
    align-items: center;
    /* height: 400px; */
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu',sans-serif;
    padding: 10px;
}

.section-left{
   flex-direction: row-reverse;
}

.paras{
    padding: 0px 65px;
}

.sectionTag{
    color:lightsea;
    padding: 16px 0px;
    /* this is added new */
}

.sectionSubTag{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/* this is also added new */
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
    /* this is added new */
}

/* .imgFluid{
    width: 200px;
} */

.contact{
    background-color:blanchedalmond;
    height: 833px;
}

.text-center{
    text-align: center;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.form{
    max-width: 62%;
    margin: 42px auto;
}

.form-input{
    margin: 14px 0;
    padding: 5px 13px;    /*added 13 px in place of 3px*/
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-footer{
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu',sans-serif;
    display: flex;
    justify-content: center;
    color:white
}

.burger{
display: none;
position: absolute;
cursor: pointer;
right: 5%;
top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin:5px 3px;
}

